body {
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    margin-top: 0;
}

.top {
    position: relative;
    background-color: aquamarine;
    padding-top: 100px
}

.middel-container {

}

.bottom-container {
    
}

.sea {
    text-decoration: underline;
}

img {
    display: inline-block;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}