.top {
    background-color: aquamarine;
}

.middle {
    background-color: red;
    height: 400px;
    margin-left: 200px;
}

.bottom {
    background-color: blue;
    height: 300px;
    margin-left: 400px;
}

.sea {
    text-decoration: underline;
}

img {
    display: inline-block;
}